@import "../../index.sass"

.panel
  &__title
    color: $third-color
    text-align: center
    text-transform: uppercase
    margin: 0
  &__active-player
    font-size: 1.4em
    text-align: right
    margin: 10px 100px 0 0
  &__players
    list-style-type: none
    padding: 0
    &-info
      display: inline-block
      width: 150px
      font-weight: bold
  &__players-icon
    color: $fourth-color
    margin-right: 15px
  &__rolls-info
      margin: 2px 0
  &__field-info
      font-weight: bold
      display: inline-block
      width: 50px