@import "../../index.sass"

.panel
  &__title
    color: $third-color
    text-align: center
    text-transform: uppercase
    margin: 0
    font-size: 28px
  &__active-player
    font-size: 1.4em
    margin: 0 40px
    padding: 0
  &__players
    &-score
      list-style-type: none
      height: 150px
      & li
        height: 50%
    &-win
      list-style-type: none
      height: 150px
      display: flex
      flex-direction: row
      & li
        width: 50%
        & p
          margin: 0
    &-info
      display: inline-block
      width: 150px
      font-weight: bold
  &__players-icon
    color: $fourth-color
    margin-right: 15px
  &__rolls-info
      margin: 2px 0
  &__field-info
      font-weight: bold
      display: inline-block
      width: 50px