@import "./index.sass"

.app
    display: flex
    flex-direction: column
    align-items: center
    width: 840px
    padding: 2px 0 10px 0
    margin: 0 auto
    background-color: $first-color

.header
    width: 100%

.body
    display: flex
    &__aside
        &-dice
            display: flex
            align-items: center
            justify-content: center
        &-legend
            padding: 20px

@media only screen and (max-width: 800px)
  .body
    flex-direction: column-reverse
    &__aside
        &__dice
            margin-bottom: 20px
        &__legend
            display: none