$first-color: #CBCDCB
$second-color: #607D86
$third-color: #C44B4F
$fourth-color: #4C5355
$fifth-color: #ffffff

*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  box-sizing: border-box